<ul th:fragment="user" class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
        <a th:href="${'/user/'+loginUser.id}" target="_blank">
            <i class="layui-icon">&#xe609;</i>
            我的主页
        </a>
    </li>
    <li th:class="${section=='account'}?'layui-nav-item layui-this':'layui-nav-item'">
        <a href="/user/set/account">
            <i class="layui-icon">&#xe612;</i>
            账户中心
        </a>
    </li>
    <li th:class="${section=='message'}?'layui-nav-item layui-this':'layui-nav-item'" >
        <a href="/user/message">
            <i class="layui-icon">&#xe611;</i>
            我的消息
        </a>
    </li>
    <li th:class="${section=='myPosts'||section=='likes'}?'layui-nav-item layui-this':'layui-nav-item'">
        <a href="/user/p/myPosts">
            <i class="layui-icon">&#xe62a;</i>
            帖子管理
        </a>
    </li>
    <li th:class="${section=='info'||section=='avatar'}?'layui-nav-item layui-this':'layui-nav-item'">
        <a href="/user/set/info">
            <i class="layui-icon">&#xe620;</i>
            基本设置
        </a>
    </li>
    <li class="layui-nav-item">
        <a href="/logout">
            <i class="layui-icon">&#x1006;</i>
            退出登录
        </a>
    </li>
</ul>

<div th:fragment="p_detail" class="layui-col-md4">

    <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">相关帖子</dt>
        <dd th:each="related : ${relatedQuestions}">
            <a th:href="@{'/p/'+ ${related.id}}" th:text="${related.title}">基于 layui 的极简社区页面模版</a>
            <span><i class="iconfont icon-pinglun1"></i> <span th:text="${related.commentCount}"></span></span>
        </dd>

        <div th:if="${relatedQuestions.size() == 0}" class="fly-none">没有相关数据</div>

    </dl>

</div>

<div th:fragment="index" class="layui-col-md4">

    <div class="fly-panel">
        <div class="fly-panel-title">
            热门话题
        </div>
        <div class="fly-panel-main">
            <a th:each="tag : ${tags}" th:href="@{/jsimple/(page=1,search=${search},tag=${tag},sort=${sort})}"
               th:text="${tag}" class="community-tag"></a>
        </div>
    </div>




    <div class="fly-panel fly-rank fly-rank-reply" id="LAY_replyRank">
        <h3 class="fly-panel-title">最近访客</h3>
        <dl>
            <!--<i class="layui-icon fly-loading">&#xe63d;</i>-->
            <dd th:each="loginUser : ${loginUsers}">
                <a th:href="${'/user/'+loginUser.id}" class="niter-avatar">
                    <img th:src="${loginUser.avatarUrl}" th:alt="${loginUser.name}"><cite th:text="${loginUser.name}"></cite><i th:text="${#dates.format(loginUser.gmtModified,'MM-dd HH:mm')}">106次回答</i>
                </a>
            </dd>
        </dl>
    </div>

</div>