# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

mbg.xml
src/main/java/com/jsimple/community/utils/MybatisGenerator.java
